<!-- content-31 -->
      <section class="content-31">
        <div class="container">
          <div class="row">
            <div class="number">1</div>
            <div class="col-sm-8 col-sm-offset-2">
              <h3>Ya eres parte del club!</h3>
              <p>Usa el código que figura en la tarjeta para un 30% de descuento. Este código tiene vigencia solo para los días 28 y 29 de julio de 2014. <a href="http://shop.clubtacones.cl">www.shop.clubtacones.cl</a> </p>
              <div class="box">
                <div class="img">
                  <%= image_tag('card.png', width: '465', height: '309') %>
                  <%= image_tag('card-code.png', width: '465', height:'309') %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="number">2</div>
            <div class="col-sm-8 col-sm-offset-2">
              <h3>Compra cualquier producto de nuestro shop online.</h3>
              <p>Bolsos, accesorios, organizadores, y mas, con envíos a todo Chile. <a href="http://shop.clubtacones.cl">www.shop.clubtacones.cl</a> </p>
              <div class="box">
                <div class="img">
                  <%= image_tag('shopbw.png', width: '400', height: '300') %>
                  <%= image_tag('shop.png', width: '400', height:'300') %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="number">3</div>
            <div class="col-sm-8 col-sm-offset-2">
              <h3>¿Cómo usar tu código?</h3>
              <p>Encuentra algo que te encante y ponlo en tu bolsa de compras, una vez que te encuentres en el check out coloca tu código VIP para obtener al instante un 30% de descuento en toda tu orden. Compra ahora en: <a href="http://shop.clubtacones.cl">www.shop.clubtacones.cl</a> </p>
              <div class="box">
                <div class="img">
                  <%= image_tag('checkout.png', width: '600', height: '280') %>
                  <%= image_tag('checkout.png', width: '600', height:'280') %>
                </div>
              </div>
            </div>
          </div>


        </div>
      </section>

<script type="text/javascript">
  $(document).ready(function(){
    startupKit.uiKitContent.content31()
  });
</script>